body {
    background-color: #000000;
    color: #dbdbdb;
}

.grid-item img {
    width: 150%;
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

.grid-item {
    text-align: center;
}